.container {
  display: flex;
  flex-direction: column;
  margin: 0 150px 0 200px;
}
.listContainer {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.list {
  margin: 50px 50px 0 50px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  list-style-type: none;
  padding: 0;
}

.input {
  max-width: 204px;
}
.button {
  min-width: 250px;
}
